<div class="container schedule-table-template">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">
                    Time
                </th>
                <th class="text-uppercase {{ is_today('Sun', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Sunday
                </th>
                <th class="text-uppercase {{ is_today('Mon', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Monday
                </th>
                <th class="text-uppercase {{ is_today('Tue', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Tuesday
                </th>
                <th class="text-uppercase {{ is_today('Wed', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Wednesday
                </th>
                <th class="text-uppercase {{ is_today('Thu', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Thursday
                </th>
                <th class="text-uppercase {{ is_today('Fri', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Friday
                </th>
                <th class="text-uppercase {{ is_today('Sat', 'DAY_SHORT_NAME') ? 'active-day' : '' }}">
                    Saturday
                </th>
            </tr>
            </thead>
            <tbody>
            {% set hours = 8 %}
            {% set hoursState = hours %}
            {% set sessionSeeAllModalIdIndex = 0 %}
            {% for sessionsIndex in 8..31 %}
                {% set hoursState = (sessionsIndex <= 23 ? sessionsIndex : hours) %}
                <tr class="">
                    <td class=" align-middle {{ active_hour() == number_to_time(hoursState) ? 'active-hour' : '' }} ">
                        {% if sessionsIndex < 24 %}
                            {% set hours = sessionsIndex %}
                            {{ sessionsIndex | number_to_time }}
                        {% else %}
                            {{ hours | number_to_time }}
                        {% endif %}
                    </td>
                    {% for dayColIndex in 0..6 %}

                        {% if data[dayColIndex] is not empty and number_to_time(hours) in data[dayColIndex] | keys %}
                            {% if  data[dayColIndex][number_to_time(hours)]['event'] %}
                                <td class=" {{ active_hour() == number_to_time(hours) and is_today(dayColIndex, 'DAY_WEEK_INDEX') ? 'active-hour' : '' }} position-relative ">
                                    {# Events #}
                                    <button class="btn btn-skyblue btn-block bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">
                                        {{ data[dayColIndex][number_to_time(hours)]['obj'].title }}
                                    </button>
                                    <div class="margin-10px-top font-size14">
                                        {{ data[dayColIndex][number_to_time(hours)]['obj'].description }}
                                    </div>
                                    <div class="font-size13 text-gray">
                                        Type: {{ data[dayColIndex][number_to_time(hours)]['obj'].type }}
                                    </div>
                                </td>
                            {% else %}
                                <td class=" {{ active_hour() == number_to_time(hours) and is_today(dayColIndex, 'DAY_WEEK_INDEX') ? 'active-hour' : '' }} position-relative schedule-case ">
                                    {# Sessions #}
                                    {% if allow_edit is defined and allow_edit is not empty or allow_edit is defined and allow_edit is not empty %}
                                        <div class="schedule-case-action">
                                            {% if allow_edit is not empty and allow_edit %}
                                                <button class="btn btn-success" data-toggle="tooltip"
                                                        data-placement="top"
                                                        data-original-title="Edit Session" title>
                                                    <i class="las la-edit"></i>
                                                </button>
                                            {% endif %}
                                            {% if allow_delete is not empty and allow_delete %}
                                                <button class="btn btn-danger" data-toggle="tooltip"
                                                        data-placement="top"
                                                        data-original-title="Delete Session" title>
                                                    <i class="las la-trash"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if data[dayColIndex][number_to_time(hours)]['obj'].users | length == 0 %}
                                        {{ data[dayColIndex][number_to_time(hours)]['obj'].users[0] }}
                                    {% else %}
                                        {#  <a href="{{ path('app_user_show', {id: data[dayColIndex][number_to_time(hours)]['obj'].users[0].id }) }}">
                                            {{ data[dayColIndex][number_to_time(hours)]['obj'].users[0] | upper }}
                                        </a> #}
                                        <div class="margin-10px-top font-size14">
                                            There is
                                            ({{ data[dayColIndex][number_to_time(hours)]['obj'].users | length }})
                                            Worker(s) in this session
                                        </div>
                                        <button class="btn btn-success btn-block padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
                                                data-toggle="modal" data-target="#session-users-modal-{{ hoursState }}-{{ sessionSeeAllModalIdIndex }}">
                                            See All
                                        </button>
                                        <div class="modal fade" id="session-users-modal-{{ hoursState }}-{{ sessionSeeAllModalIdIndex }}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Workers in this
                                                            session</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul class="list-unstyled">
                                                            {% for user in data[dayColIndex][number_to_time(hours)]['obj'].users %}
                                                                <li>
                                                                    <a href="{{ path('app_user_show', {id: user.id}) }}"> {{ "#{user.username} ❘ #{user.email}" }} </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set sessionSeeAllModalIdIndex = sessionSeeAllModalIdIndex+1 %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% else %}
                            <td {{ active_hour() == number_to_time(hours) and is_today(dayColIndex, 'DAY_WEEK_INDEX') ? 'class="active-hour" ' : 'style="background-color: #dadada"' }}></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if hours == 23 %}
                    {% set hours = 0 %}
                {% elseif sessionsIndex >= 24 %}
                    {% set hours = hours + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>