{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Create new Role</h1>
                {{ include('role/_form.html.twig') }}
            </div>
            <div class="col-6">
                <h1> Clone existing role </h1>
                {{ form_start(form2) }}
                {{ form_widget(form2) }}
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                {{ form_end(form2) }}
            </div>
        </div>

        <a href="{{ path('app_role_index') }}">back to list</a>
    </div>
{% endblock %}
