{% extends 'auth/base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <section class="login-content">
        <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">
                <div class="col-lg-8">
                    {% if error %}
                        <div class="alert text-white bg-danger m-0 shadow" role="alert">
                            <div class="iq-alert-icon">
                                <i class="ri-information-line"></i>
                            </div>
                            <div class="iq-alert-text">{{ error.message | trans(error.messageData, 'security') }}</div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card auth-card m-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center auth-content">
                                <div class="col-lg-6 bg-primary content-left">
                                    <div class="p-3">
                                        <h2 class="mb-2 text-white">Sign In</h2>
                                        <form action="{{ path('app_auth_login') }}" method="post">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input id="usernameInput" class="floating-input form-control" type="text" placeholder=" " name="_username" value="{{ last_username }}">
                                                        <label for="usernameInput">Username</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input id="passwordInput" class="floating-input form-control" type="password" placeholder=" " name="_password">
                                                        <label for="passwordInput">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 my-2">
                                                    <a href="{{ path('app_auth_reset_password') }}" class="text-white float-right">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-white">Sign In</button>
                                            <p class="mt-3">
                                                Contact Admin in case you don't have an account or having an issue logging in
                                            </p>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 content-right">
                                    <img src="{{ asset('template_assets/images/login/01.png') }}" class="img-fluid image-right" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}